path=["/"]
service.ranking=I"0"
form.login.form="/libs/composum/platform/security/login.html"
form.auth.storage="Cookie"
form.auth.name="form.auth.name"
form.credentials.name="sling.formauth"
form.auth.timeout=I"30"
form.onexpire.login=B"true"
form.token.file="cookie-tokens.bin"
form.token.fastseed=B"false"
form.use.include=B"false"
form.default.cookie.domain=""

