servlet.post.dateFormats=["EEE MMM dd yyyy HH:mm:ss 'GMT'Z","ISO8601","yyyy-MM-dd'T'HH:mm:ss.SSSZ","yyyy-MM-dd'T'HH:mm:ss","yyyy-MM-dd HH:mm:ss","yyyy-MM-dd HH:mm","yyyy-MM-dd","dd.MM.yyyy HH:mm:ss","dd.MM.yyyy HH:mm","dd.MM.yyyy","d. MMMM yyyy HH:mm","d. MMM yyyy HH:mm","d. MMMM yyyy","d. MMM yyyy","MMMM d, yyyy HH:mm","MMMM d, yyyy HHmm","MMMM d, yyyy","HH:mm:ss","HH:mm","HHmm"]
