sling.auth.requirements=["-/j_security_check","-/apps/","-/libs/","+/bin/","+/etc/","+/jcr:system","+/system/","+/servlet/","+/tmp/","+/var/"]
auth.sudo.cookie="sling.sudo"
auth.sudo.parameter="sudo"
sling.auth.anonymous.user=""
auth.annonymous=B"true"
auth.http="preemptive"
auth.uri.suffix=["/j_security_check"]
auth.http.realm="Application Platform"
